## Name : Vedant Shirgaonkar
## D114 | 60009230002

In [27]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
df = pd.read_csv('movies_metadata.csv')
df = df.iloc[:10000, :]
df.head()

/var/folders/q6/0pfb75k55856k8_ms3tldx240000gn/T/ipykernel_59331/2485397617.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_metadata.csv')

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [29]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [30]:
#Compute the mean vote average from the dataset and store it as C.
C = df['vote_average'].mean()

In [31]:
#Calculate the 90th percentile of vote_count and store it as m.
m = df['vote_count'].quantile(0.90)
m

381.0

In [32]:
#Filter the movies that have a vote count >= m and store them in a new DataFrame q_movies.
q_movies = df.copy().loc[df['vote_count'] >= m]

In [33]:
#Write a function that computes the weighted rating of each movie using IMDB formula.
def weighted_rating(df, m=m, C=C):
    v = df['vote_count']
    R = df['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [34]:
#Add a new column called score to the q_movies DataFrame, where each movie's score is calculated using the weighted_rating() function.
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

#Sort movies based on score calculated above, and Print the top 20 movies.
q_movies = q_movies.sort_values('score', ascending=False)
q_movies.head(20)

      adult  ...     score
314   False  ...  8.396125
834   False  ...  8.358273
2843  False  ...  8.217331
292   False  ...  8.208125
522   False  ...  8.127369
5481  False  ...  8.108792
351   False  ...  8.106958
2211  False  ...  8.093349
1178  False  ...  8.081110
1154  False  ...  8.075613
1152  False  ...  8.054121
289   False  ...  8.030239
3030  False  ...  8.025497
7000  False  ...  8.012239
1176  False  ...  8.001521
256   False  ...  7.994488
46    False  ...  7.980025
1170  False  ...  7.979103
2216  False  ...  7.973361
586   False  ...  7.946782

[20 rows x 25 columns]

## TF-IDF:

In [35]:
#Print overviews of the first 5 movies.
q_movies['overview'].head()

314     Framed in the 1940s for the double murder of h...
834     Spanning the years 1945 to 1955, a chronicle o...
2843    A ticking-time-bomb insomniac and a slippery s...
292     A burger-loving hit man, his philosophical par...
522     The true story of how businessman Oskar Schind...
Name: overview, dtype: object

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer

#Use TfidfVectorizer to convert the movie descriptions (e.g., from overview column) 
# into TF-IDF vectors. Remove all english stop words such as 'the', 'a'.
tfidf = TfidfVectorizer(stop_words='english')
#Handle NaN values in text data (e.g., replace them with empty strings).
q_movies['overview'] = q_movies['overview'].fillna('')
#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(q_movies['overview'])

In [40]:
#Output the shape of tfidf_matrix.
tfidf_matrix.shape

(1001, 9013)

In [41]:
#Display an array mapping from feature integer indices to feature name. (Indices from 5000 till 5009).
tfidf.get_feature_names_out()[5000:5010]

array(['marcus', 'mare', 'marge', 'marginalization', 'maria', 'mariachi',
       'marian', 'mariana', 'marie', 'marijuana'], dtype=object)

In [42]:
#Import linear kernel
from sklearn.metrics.pairwise import linear_kernel
#Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
print(cosine_sim)

[[1.         0.00685295 0.00781084 ... 0.00974468 0.03120342 0.00709296]
 [0.00685295 1.         0.         ... 0.         0.         0.03303067]
 [0.00781084 0.         1.         ... 0.0111409  0.00870147 0.00810924]
 ...
 [0.00974468 0.         0.0111409  ... 1.         0.01085582 0.0380474 ]
 [0.03120342 0.         0.00870147 ... 0.01085582 1.         0.00790174]
 [0.00709296 0.03303067 0.00810924 ... 0.0380474  0.00790174 1.        ]]

In [ ]:
#Create a reverse lookup map from movie titles to their index positions in the metadata DataFrame. Now you can retrieve the index of a movie by its title.
#This index can then be used to fetch similarity scores, metadata, etc.
indices = pd.Series(q_movies.index, index=q_movies['title']).drop_duplicates()
print(indices)

title
The Shawshank Redemption     314
The Godfather                834
Fight Club                  2843
Pulp Fiction                 292
Schindler's List             522
                            ...
Spy Kids 3-D: Game Over     6417
Daredevil                   6019
Speed 2: Cruise Control     1486
Catwoman                    7939
Batman & Robin              1491
Length: 1001, dtype: int64

In [45]:
q_movies.shape

(1001, 25)

In [47]:
#Build the Recommender Function:
#Create a function that:
# Accepts a movie title.
# Finds its index.
# Fetches similarity scores.  Creates pairs of (index, similarity_score) and converts it into a list of tuples.
# Sorts and returns the top 10 most similar movies.

def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return q_movies['title'].iloc[movie_indices]

In [52]:
#Test the recommender function with a movie title.
print(get_recommendations('Pulp Fiction'))

4845                    Vanilla Sky
332     What's Eating Gilbert Grape
1567           The Devil's Advocate
1909                          Bambi
8927        Kiki's Delivery Service
2211              Life Is Beautiful
3631                    The Patriot
1185                    Raging Bull
1311             Jingle All the Way
7938           The Bourne Supremacy
Name: title, dtype: object